@model Project_UI.Models.ProjectDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
}
<section class="section proje-detay-info">
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">
                    <h2>@Model.Name</h2>
                    <p><strong>@Model.ProjectFirm</strong> - @Model.ProjectLocation</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span><strong>TESLİM TARİHİ:</strong> @Model.DeliveryDate.ToShortDateString()</span>
                    <span><strong>KONUT SAYISI:</strong>@Model.FlatCount</span>
                    <span><strong>TOPLAM PROJE ALANI:</strong> @Model.ProjectArea m2</span>
                </div>
            </div>
        </div>
    </div>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="galleryBig">
                        @foreach (var item in Model.ProjectFiles)
                        {
                            <div class="item">

                                <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" width="1240" height="641" alt="ev">
                                <a class="full-size" data-title="ilk1" data-lightbox="roadtrip" href="~/Areas/Admin/Content/Image/@item.Id@item.Extension"><i class="fa fa-expand"></i></a>
                            </div>
                        }
                    </div>
                    @if (Model.Video != null)
                    {
                        <a href="#" class="videoBtn" data-toggle="modal" data-target="#videoModal" data-theVideo="@Model.Video"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Proje Tanıtım Filmini İzleyin</a>
                        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content"><iframe width="100%" height="500" src="" frameborder="0"></iframe></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="info-box">
            <div class="user-img">
                <img src="@Model.Expert.ImagePath" width="65" height="65" alt="Necmi Körük">
            </div>
            <div class="text">
                <h2>@Model.Expert.Name</h2>
                <h3>@Model.Expert.Title</h3>
            </div>
            <ul class="contact-list">
                <li><a href="tel:@Model.Expert.PhoneNumber">@Model.Expert.PhoneNumber</a><span class="icon"><i class="fa fa-phone"></i> </span></li>
                <li><a href="mailto:@Model.Expert.Email">@Model.Expert.Email</a><span class="icon"><i class="fa fa-envelope"></i> </span></li>
            </ul>
        </div>
    </div>
</section>
<section class="section proje-tab proje-detay-details">
    <div class="tab-menu">
        <ul>
            <li class="active" rel="aciklama"><a href="#">AÇIKLAMA</a></li>
            <li rel="ozellikler"><a href="#">ÖZELLİKLER</a></li>
            @if (Model.PriceList != null)
            {
                <li rel="fiyat"><a href="#">FİYAT LİSTESİ</a></li>
            }
        </ul>
    </div>
    <div id="aciklama" class="tab_content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <article class="article">
                        @if (Model.Description != null)
                        {
                            <p>@Html.Raw(Model.Description)</p>
                        }

                    </article>
                </div>
            </div>
        </div>
    </div>
    <div id="ozellikler" class="tab_content">
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>SOSYAL TESİSLER</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container list">
            <div class="row">
                @if (Model.SelectedSocialList != null)
                {
                    foreach (var item in Model.SelectedSocialList)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item</span></div>
                    }
                }
            </div>
        </div>
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>GÜVENLİK</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container list">
            <div class="row">
                @if (Model.SelectedSecurities != null)
                {
                    foreach (var item in Model.SelectedSecurities)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item</span></div>
                    }
                }

            </div>
        </div>
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>GENEL ÖZELLİKLER</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container list">
            <div class="row">
                @if (Model.SelectedProperties != null)
                {
                    foreach (var item in Model.SelectedProperties)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item</span></div>
                    }
                }

            </div>
        </div>
    </div>
    @if (Model.PriceList != null)
    {
        <div id="fiyat" class="tab_content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="@Model.PriceList" alt="">
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<script>

    autoPlayYouTubeModal();

    //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
    function autoPlayYouTubeModal() {
        var trigger = $("body").find('[data-toggle="modal"]');
        trigger.click(function () {
            var theModal = $(this).data("target"),
                videoSRC = $(this).attr("data-theVideo"),
                split = videoSRC.split('='),
                videoSRCauto = "http://www.youtube.com/embed/" + split[1] + "?autoplay=1";
            $(theModal + ' iframe').attr('src', videoSRCauto);
            $(theModal + ' button.close').click(function () {
                $(theModal + ' iframe').attr('src', videoSRC);
            });
            $(theModal).on('hidden.bs.modal', function () {
                $(theModal + ' iframe').attr('src', videoSRC);
            });
        });
    }
</script>