
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
   
}
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Project_Entity.Project>
<section class="section projeler page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 title wow fadeInUp animated" data-wow-duration="3s">
                <h2>PROJELER</h2>
                <p>Hayalini kurduğunuz eve ulaşmak çok kolay! Hemen istediğiniz kriterlerdeki evi aratın, uzmanlarımızdan yardım alın, yeni evinize hemen yerleşin!</p>
            </div>
        </div>
    </div>
    <span class="image wow fadeInUp animated" data-wow-duration="1s" >
        <img src="~/Content/img/projeler-banner.png" alt="Projeler" />
    </span>
</section>
<section class="section projeler proje-list">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-xs-6 item wow fadeInUp animated" data-wow-duration="1s">
                    <a href="/Project/Detail/@item.ID">
                        <div class="image">
                            <img src="@item.ImagePath" height="287px" width="400px" alt="ev">
                            <div class="over"></div>
                        </div>
                        <div class="text">
                            <h3>@item.Name</h3>
                            <h4>@item.SubName - @item.SSubName</h4>
                        </div>
                    </a>
                </div>
            }



        </div>
        <div class="row">
            <div class="col-md-12 pagination wow fadeInUp animated" data-wow-duration="1s">
                <ul>
                 
                    @Html.PagedListPager(Model, Id => Url.Action("index", new { Id }))
                   
                </ul>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/Scripts/js/custom/wow.js"></script>
<script type="text/javascript" src="~/Scripts/js/custom/jquery.lazyloadxt.js"></script>
<script type="text/javascript" src="~/Scripts/js/plugin/owl.carousel.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/plugin/slick.js"></script>
@*<script type="text/javascript" src="~/Scripts/js/plugin/lightbox.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/js/custom/custom.js"></script>