@using System.Globalization
@model List<Project_BLL.ServiceModels.NewAdvertisement>
@if (!Request.QueryString["lang"].IsEmpty())
{
    Culture = UICulture = Request.QueryString["lang"];

}
<div class="container">
    <div class="row title">
        <div class="col-md-12">
            <h2>@Resources.Resources.newadded</h2>
        </div>
    </div>

    <div class="row list-owl">
        @foreach (var item in Model)
            {

            <div class="col-md-4 col-sm-6 col-xs-6">
                @if (item.Status.ToUpper() == "SATILIK" & Model != null)
                {
                    <div class="item satilik">
                        <a href="/AdDetail/@(item.AdType=="İşyeri"?"WorkDetail":(item.AdType=="Arsa"?"LandDetail":(item.AdType=="Bina"?"BuildDetail":"Details")))/@item.Id">
                            <div class="image">
                                <img src="@item.Photo" width="393" height="303" alt="ev">
                                <div class="over"><span>DETAYLI İNCELE</span></div>
                            </div>
                            <div class="text">
                                <div class="title">
                                    <div class="row">
                                        <div class="col-sm-6"><span class="type">@item.Status</span></div>
                                        <div class="col-sm-6"><span class="price">@item.Price.ToString("N")  @item.Currency</span></div>
                                    </div>
                                </div>

                                <div class="features">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> @item.Address</li>
                                        <li><i class="fa fa-type"></i> @item.AdType</li>
                                        <li><i class="fa fa-arrows-h"></i>@item.SquareMetre m2</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                }

                @if (item.Status.ToUpper() == "KIRALIK" & Model != null)
                {
                    <div class="item kiralik">
                        <a href="/AdDetail/@(item.AdType=="İşyeri"?"WorkDetail":(item.AdType=="Arsa"?"LandDetail":(item.AdType=="Bina"?"BuildDetail":"Details")))/@item.Id">
                            <div class="image">
                                <img src="@item.Photo" width="393" height="303" alt="ev">
                                <div class="over"><span>DETAYLI İNCELE</span></div>
                            </div>
                            <div class="text">
                                <div class="title">
                                    <div class="row">
                                        <div class="col-sm-6"><span class="type">@item.Status</span></div>
                                        <div class="col-sm-6"><span class="price">@item.Price.ToString("N") @item.Currency</span></div>
                                    </div>
                                </div>

                                <div class="features">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> @item.Address</li>
                                        <li><i class="fa fa-type"></i> @item.AdType</li>
                                        <li><i class="fa fa-arrows-h"></i>@item.SquareMetre m2</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>

        }
    </div>
    <div class="row btn-line">
        <div class="col-md-12">
            <a class="all-btn" href="/AdDetail/Index">TÜM İLANLARI GÖRÜNTÜLE</a>
        </div>
    </div>
</div>
