@model Project_UI.Areas.Admin.Models.WorkPlaceViewModel

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (Model.Id != 0)
            {
                <h5> İşyeri Düzenleme Tablosu</h5>
            }
            else
            {
                <h5> İşyeri Ekleme Tablosu</h5>
            }
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form method="post" id="myForm" enctype="multipart/form-data" action="#">
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label> Adı:</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Satış Durumu:</label>
                            @Html.DropDownListFor(x => x.StatusId, Model.StatusList, "Satış Durumu Seçiniz", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label> Fiyatı:</label>
                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @id = "money-bank", @placeholder = "Örn: 10.5" })
                        </div>
                        <div class="form-group">
                            <label>Döviz Tipi</label>
                            @Html.DropDownListFor(x => x.KurlarId, Model.KurlarList, "Döviz Tipi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.KurlarId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Açıklaması:</label>
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @id = "content" })
                        </div>
                        <div class="form-group">
                            <label> Bölüm - Oda Sayısı:</label>
                            @Html.TextBoxFor(x => x.Room, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Room, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Ölçüleri(m2):</label>
                            @Html.TextBoxFor(x => x.Size, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Size, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Iller:</label>
                            @Html.DropDownListFor(x => x.IlId, Model.IlList, new { @id = "Il", @class = "form-control" })
                            <label>Ilce:</label>
                            <select id="IlceId" name="IlceId" data-id="@Model.IlceId" class="form-control"></select>
                            <label>Semtler:</label>
                            <select id="SemtId" name="SemtId" data-id="@Model.SemtId" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label> Aidat Ücreti:</label>
                            @Html.TextBoxFor(x => x.Dues, new { @class = "form-control", @placeholder = "Örn: 250" })
                        </div>
                        <div class="form-group">
                            <label> Danışmanı:</label>
                            @Html.DropDownListFor(x => x.ExpertId, Model.ExpertList, "Danışman Seçiniz", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label> Diğer Özellikler:</label>
                            <br />
                            @Html.DropDownList("tags", Model.PropertiesList, new { @multiple = "multiple", @class = "dropdown-menu form-control", @id = "tags" })
                        </div>
                        <div class="form-group">
                            <label> Sosyal Alan Özellikleri:</label>
                            <br />
                            @Html.DropDownList("socials", Model.SocialList, new { @multiple = "multiple", @class = "dropdown-menu form-control", @id = "socials" })
                        </div>
                        <div class="form-group">
                            <label> Güvenlik Özellikleri:</label>
                            <br />
                            @Html.DropDownList("securitys", Model.SecuritiesList, new { @multiple = "multiple", @class = "dropdown-menu form-control", @id = "securitys" })
                        </div>
                        <div class="form-group">
                            <label> Isınma Durumu:</label>
                            @Html.DropDownListFor(x => x.IsinmaId, Model.IsinmaList, "Isınma Tipi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.IsinmaId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Kimden Durumu:</label>
                            @Html.DropDownListFor(x => x.KimdenId, Model.KimdenList, " Mülk Sahibi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.KimdenId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Kredi Uygunluğu:</label>
                            @Html.DropDownListFor(x => x.KrediId, Model.KrediList, "Kredi Tipi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.KrediId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Bina Yaşı:</label>

                            @Html.TextBoxFor(x => x.BAge, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.BAge, null, new { @class = "text-danger" })
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Lütfen yüksek çözünürlüklü ya da 393x303 ebatlarında önizleme resmi yükleyiniz!</label>

                            <input type="file" id="document" name="document" accept=".jpg, .png" @(Model.ThumbPath != null ? "" : "required=\"required\"") />
                            
                            @if (Model.ThumbPath != null)
                            {
                                <hr />
                                <img src="@Url.Content(Model.ThumbPath)" width="50" height="50" />
                            }
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.Label("Lütfen galeri için resim yükleyiniz!")
                                <br />
                                @Html.Label("Choose Image(s)", new { @class = "control-label col-sm-3" })
                                <div class="col-sm-5">
                                    <input type="file" id="file" name="files" multiple="multiple" accept=".jpg, .png" @(Model.FileDetails.Count != 0 ? "" : "required=\"required\"") />
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <ul class="attachment">
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.FileDetails)
                                                {
                                                    <li>
                                                        <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" width="60" height="60" />
                                                        <a href="javascript:void(0);" data-id="@item.Id" onclick="DeleteFile('/Admin/Workplace/DeleteFile/@item.Id',this)">X</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <hr />
                        <button type="submit" value="Save" class="btn btn-xs btn-success btn-xs radius-4">
                            <i class="ace-icon fa fa-floppy-o bigger-160"></i>
                            Kaydet
                        </button>
                        <a href="\Admin\AdDetails\Index" class="btn btn-xs btn-info btn-xs radius-4">
                            <i class="ace-icon fa fa-undo bigger-150"> Önceki Sayfa</i>
                        </a>
                    </form>
                    <br />
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
