@model Project_UI.Models.AdDetailDetailViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";

    //string[] adres;
    //adres = Model.Bina.Location.Split(',');
    //string semt = adres[0];
    //string ilce = adres[2].Substring(6).Replace("/", ",");

    //string lokasyon = semt;
}

<section class="section ilan-detay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="gallery wow fadeInUp" data-wow-duration="1s">
                    @*@Html.Partial("Partial/_ImagePartial")*@
                    @if (Model.FileDetails != null)
                    {
                        <div class="galleryBig">
                            @foreach (var item in Model.FileDetails)
                            {
                                <div class="item cbp-item">

                                    <a class="cbp-lightbox" data-title="ilk1" data-lightbox="roadtrip" href="~/Areas/Admin/Content/Image/@item.Id@item.Extension">

                                        <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" height="546" width="817" alt="ev">
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="gallerySmall">
                            @foreach (var item in Model.FileDetails)
                            {
                                <div class="item">
                                    <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" height="83" width="125" alt="ev">
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="box info wow fadeInUp" data-wow-duration="1s">
                    @if (Model.Name != null)
                    {
                        <div class="title">
                            <h2>@Model.Name</h2>
                        </div>
                    }
                    <div class="item">
                        <!-- addClass kiralik  -->
                        <div class="row">
                            @if (Model.Status != null)
                            {
                                <div class="col-xs-6"><span class="type">@Model.Status</span></div>
                            }
                            @if (Model.Price != null)
                            {
                                <div class="col-xs-6"><span class="price">@Model.Price.ToString("N") @Model.Kur</span></div>
                            }
                        </div>
                        <div class="row">
                            @*@if (Model.Bina.Location != null)
                            {
                                <div class="col-md-12 location">
                                    <p><i class="fa fa-map-marker"></i> @lokasyon </p>
                                </div>
                            }*@
                        </div>
                    </div>
                    <div class="item">
                        @if (Model.Expert != null)
                        {
                            <div class="user-img">
                                <img src="@Model.Expert.ImagePath" width="65" height="65" alt="Necmi Körük">
                            </div>

                            <ul class="contact-list">
                                <li><i class="fa fa-user"></i> <strong>@Model.Expert.Name</strong> - @Model.Expert.Title</li>
                                <li><i class="fa fa-phone"></i> <a href="tel:@Model.Expert.PhoneNumber">@Model.Expert.PhoneNumber</a></li>
                                <li><i class="fa fa-envelope"></i> <a href="mailto:@Model.Expert.Email">@Model.Expert.Email</a></li>
                            </ul>
                        }
                    </div>
                    <div class="item info-list">
                        @if (Model.CreatedDateTime != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>İlan Tarihi</strong></div>
                                <div class="col-xs-6">@Model.CreatedDateTime.ToString("dd/MM/yyyy")</div>
                            </div>
                        }
                        @if (Model.EmlakTip != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Emlak Tipi</strong></div>
                                <div class="col-xs-6">@Model.EmlakTip</div>
                            </div>
                        }

                        @if (Model.Size != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>m2</strong></div>
                                <div class="col-xs-6">@Model.Size</div>
                            </div>
                        }
                        @if (Model.BAge != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Bina Yaşı</strong></div>
                                <div class="col-xs-6">@Model.BAge</div>
                            </div>
                        }
                      
                      
                        @if (Model.Status!= null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Emlak Durumu</strong></div>
                                <div class="col-xs-6">@Model.Status</div>
                            </div>
                        }
                        @if (Model.Takas != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Takas Durumu</strong></div>
                                <div class="col-xs-6">@Model.Takas</div>
                            </div>
                        }
                        @if (Model.FloorCount != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Kat Sayısı</strong></div>
                                <div class="col-xs-6">@Model.FloorCount</div>
                            </div>
                        }
                        @if (Model.FloorCount != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Daire Sayısı</strong></div>
                                <div class="col-xs-6">@Model.FloorCount</div>
                            </div>
                        }
                        @if (Model.Isinma != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Isınma Türü</strong></div>
                                <div class="col-xs-6">@Model.Isinma</div>
                            </div>
                        }
                        @if (Model.Kimden!= null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Kimden</strong></div>
                                <div class="col-xs-6">@Model.Kimden</div>
                            </div>
                        }

                    </div>
                </div>
                <div class="box details proje-tab wow fadeInUp" data-wow-duration="1s">
                    <div class="tab-menu">
                        <ul>
                            <li class="active" rel="aciklama"><a href="#">AÇIKLAMA</a></li>
                            <li rel="ozellikler"><a href="#">ÖZELLİKLER</a></li>
                        </ul>
                    </div>
                    <div id="aciklama" class="tab_content">
                        <article class="article">
                            @if (Model.Description != null)
                            {
                                <p>
                                    @Html.Raw(Model.Description)
                                </p>
                            }
                        </article>
                    </div>

                    <div id="ozellikler" class="tab_content">
                        <div class="title">
                            <h2>SOSYAL TESİSLER</h2>
                        </div>
                        <div class="list">
                            <div class="row">
                                <div class="row">
                                    @if (Model.SelectedSocialList != null)
                                    {
                                        foreach (var item in Model.SelectedSocialList)
                                        {
                                            <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item.ToString()</span></div>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="title">
                            <h2>GÜVENLİK</h2>
                        </div>

                        <div class="list">
                            <div class="row">
                                <div class="row">
                                    @if (Model.SelectedSecurities != null)
                                    {
                                        foreach (var item in Model.SelectedSecurities)
                                        {
                                            <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item.ToString()</span></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="title">
                            <h2>GENEL ÖZELLİKLER</h2>
                        </div>

                        <div class="list">
                            <div class="row">
                                <div class="row">
                                    @if (Model.SelectedProperties != null)
                                    {
                                        foreach (var item in Model.SelectedProperties)
                                        {
                                            <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item.ToString()</span></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>
