@model List<Project_BLL.ServiceModels.NewAdvertisement>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
}


<section class="section ilan-list wow fadeInUp" data-wow-duration="1s">
    <div class="container">
        <div class="row title">
            <div class="col-md-12">
                <h2>İLANLAR</h2>
            </div>
        </div>

        <div class="row list-owl">
            @foreach (var item in Model)
            {

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="item  @(item.Status.ToUpper() == "SATILIK"?"satilik":"kiralik")">
                        <a href="/AdDetail/@(item.AdType=="Ofis"?"WorkDetail":(item.AdType=="Arsa"?"LandDetail":(item.AdType=="Bina"?"BuildDetail":"Details")))/@item.Id">
                            <div class="image">
                                <img src="@item.Photo" width="393" height="303" alt="ev">
                                <div class="over"><span>DETAYLI İNCELE</span></div>
                            </div>
                            <div class="text">
                                <div class="title">
                                    <div class="row">
                                        <div class="col-sm-6"><span class="type">@item.Status</span></div>
                                        <div class="col-sm-6"><span class="price" id="price" data-currency="@item.Currency">@item.Price</span></div>
                                    </div>
                                </div>

                                <div class="features">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> @item.Address</li>
                                        <li><i class="fa fa-type"></i> @item.AdType</li>
                                        <li><i class="fa fa-arrows-h"></i>@item.SquareMetre m2</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            }
        </div>

        <div class="row">
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".price").each(function (ind, obj) {
                $(obj).priceFormat({
                    clearPrefix: true,
                    suffix: ' ' + $(obj).data("currency"),
                    centsLimit: 0
                });
            });
            
        });
    </script>

}