@model Project_UI.Models.ProjectVM.ProjectClass
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
}


<section class="section ilan-list wow fadeInUp" data-wow-duration="1s">
    <div class="container">
        <div class="row title">
            <div class="col-md-12">
                <h2>İLANLAR</h2>
            </div>
        </div>

        <div class="row list-owl">
            @if (Model.AdDetails.Count() > 0 && Model.AdDetails != null)
            {
                foreach (var item in Model.AdDetails)
                {
                    <div class="col-md-4 col-sm-6 col-xs-6">

                        @{
                            string[] adres;
                            adres = item.Location.Split(',');
                            string semt = adres[0];
                            string ilce = adres[2].Substring(6).Replace("/", ",");

                            string lokasyon = semt + "," + ilce;
                        }
                        @if (item.Status.Name.ToUpper() == "SATILIK" & Model != null)
                        {
                        <div class="item satilik">
                            <a href="/AdDetail/Details/@item.ID">
                                @if (item.ThumbPath != null)
                                {
                                <div class="image">
                                    <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                    <div class="over"><span>DETAYLI İNCELE</span></div>
                                </div>
                                }

                                <div class="text">
                                    <div class="title">
                                        <div class="row">
                                            @if (item.StatusID != null)
                                            {
                                            <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                            }
                                            @if (item.Price != null)
                                           {
                                            <div class="col-sm-6"><span class="price">@item.Price @item.Kurlar.Name</span></div>
                                           }

                                            @* <div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            @if (item.Location != null)
                                            {
                                            <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                            }
                                            @if (item.Room != null)
                                            {
                                            <li><i class="fa fa-home"></i> @item.Room</li>
                                            }
                                            @if (item.Size != null)
                                            {
                                            <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        }

                        @if (item.Status.Name.ToUpper() == "KIRALIK" & Model != null)
                        {
                        <div class="item kiralik">
                            <a href="/AdDetail/Details/@item.ID">
                                @if (item.ThumbPath != null)
                                {
                                <div class="image">
                                    <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                    <div class="over"><span>DETAYLI İNCELE</span></div>
                                </div>
                                }
                                <div class="text">
                                    <div class="title">
                                        <div class="row">
                                            @if (item.StatusID != null)
                                          {
                                            <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                          }
                                            @if (item.Price != null)
                                        {
                                            <div class="col-sm-6"><span class="price">@item.Price @item.Kurlar.Name</span></div>
                                        }
                                            @*<div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            @if (item.Location != null)
                                        {
                                            <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                        }
                                            @if (item.Room != null)
                                        {
                                            <li><i class="fa fa-home"></i> @item.Room</li>
                                        }
                                            @if (item.Size != null)
                                        {
                                            <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                        }
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        }

                    </div>
                                }
                            }
            @if (Model.Lands.Count() > 0 && Model.Lands != null)
            {
                foreach (var item in Model.Lands)
                {
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        @{
                            string[] adres;
                            adres = item.Location.Split(',');
                            string semt = adres[0];
                            string ilce = adres[2].Substring(6).Replace("/", ",");
                            string lokasyon = semt + "," + ilce;
                        }
                        @if (item.Status.Name.ToUpper() == "SATILIK" & Model != null)
                            {
                            <div class="item satilik">
                                <a href="/AdDetail/LandDetail/@item.ID">
                                    @if (item.ThumbPath != null)
                                        {
                                    <div class="image">
                                        <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                        <div class="over"><span>DETAYLI İNCELE</span></div>
                                    </div>
                                        }
                                    <div class="text">
                                        <div class="title">
                                            <div class="row">
                                                @if (item.StatusID != null)
                                                   {
                                                <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                   }
                                                @if (item.Price != null)
                                                {
                                                <div class="col-sm-6"><span class="price">@item.Price @item.Kurlar.Name</span></div>
                                                }
                                                @*  <div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                            </div>
                                        </div>
                                        <div class="features">
                                            <ul>
                                                @if (item.Location != null)
                                                    {
                                                    <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                    }

                                                @if (item.Size != null)
                                                    {
                                                    <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            }

                        @if (item.Status.Name.ToUpper() == "KIRALIK" & Model != null)
                            {
                            <div class="item kiralik">
                                <a href="/AdDetail/LandDetail/@item.ID">
                                    @if (item.ThumbPath != null)
                                        {
                                    <div class="image">
                                        <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                        <div class="over"><span>DETAYLI İNCELE</span></div>
                                    </div>
                                        }
                                    <div class="text">
                                        <div class="title">
                                            <div class="row">
                                                @if (item.StatusID != null)
                                                  {
                                                <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                  }
                                                @if (item.Price != null)
                                                {
                                                <div class="col-sm-6"><span class="price">@item.Price @item.Kurlar.Name</span></div>
                                                }
                                                @*<div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                            </div>
                                        </div>
                                        <div class="features">
                                            <ul>
                                                @if (item.Location != null)
                                                    {
                                                    <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                    }

                                                @if (item.Size != null)
                                                    {
                                                    <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            }

                    </div>
                                }
                            }
            @if (Model.Workplaces.Count() > 0 && Model.Workplaces != null)
            {
                foreach (var item in Model.Workplaces)
                {
                    <div class="col-md-4 col-sm-6 col-xs-6">

                        @{
                            string[] adres;
                            adres = item.Location.Split(',');
                            string semt = adres[0];
                            string ilce = adres[2].Substring(6).Replace("/", ",");
                            string lokasyon = semt + "," + ilce;
                        }
                        @if (item.Status.Name.ToUpper() == "SATILIK" & Model != null)
                            {
                            <div class="item satilik">
                                <a href="/AdDetail/WorkDetail/@item.ID">
                                    @if (item.ThumbPath != null)
                                        {
                                    <div class="image">
                                        <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                        <div class="over"><span>DETAYLI İNCELE</span></div>
                                    </div>
                                        }
                                    <div class="text">
                                        <div class="title">
                                            <div class="row">
                                                @if (item.StatusID != null)
                                                 {
                                                <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                 }
                                                @if (item.Price != null)
                                                {
                                                <div class="col-sm-6"><span class="price">@item.Price @item.Kurlar.Name</span></div>
                                                }
                                                @* <div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                            </div>
                                        </div>

                                        <div class="features">
                                            <ul>
                                                @if (item.Location != null)
                                                    {
                                                    <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                    }
                                                @if (item.Room != null)
                                                    {
                                                    <li><i class="fa fa-home"></i> @item.Room</li>
                                                    }
                                                @if (item.Size != null)
                                                    {
                                                    <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            }

                        @if (item.Status.Name.ToUpper() == "KIRALIK" & Model != null)
                            {
                            <div class="item kiralik">
                                <a href="/AdDetail/WorkDetail/@item.ID">
                                    @if (item.ThumbPath != null)
                                        {
                                    <div class="image">
                                        <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                        <div class="over"><span>DETAYLI İNCELE</span></div>
                                    </div>
                                        }
                                    <div class="text">
                                        <div class="title">
                                            <div class="row">
                                                @if (item.StatusID != null)
                                                   {
                                                <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                   }
                                                @if (item.Price != null)
                                                {
                                                <div class="col-sm-6"><span class="price">@item.Price @item.Kurlar.Name</span></div>
                                                }
                                                @*<div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                            </div>
                                        </div>
                                        <div class="features">
                                            <ul>
                                                @if (item.Location != null)
                                                    {
                                                    <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                    }
                                                @if (item.Room != null)
                                                    {
                                                    <li><i class="fa fa-home"></i> @item.Room</li>
                                                    }
                                                @if (item.Size != null)
                                                    {
                                                    <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            }

                    </div>
                                }
                            }
            @if (Model.Binas.Count() > 0 && Model.Binas != null)
            {
                foreach (var item in Model.Binas)
                {
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        @{
                            string[] adres;
                            adres = item.Location.Split(',');
                            string semt = adres[0];
                            string ilce = adres[2].Substring(6).Replace("/", ",");
                            string lokasyon = semt + "," + ilce;
                        }
                        @if (item.Status.Name.ToUpper() == "SATILIK" & Model != null)
                            {
                            <div class="item satilik">
                                <a href="/AdDetail/BuildDetail/@item.ID">
                                    @if (item.ThumbPath != null)
                                        {
                                        <div class="image">
                                            <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                            <div class="over"><span>DETAYLI İNCELE</span></div>
                                        </div>
                                        }
                                    <div class="text">
                                        <div class="title">
                                            <div class="row">
                                                @if (item.StatusID != null)
                                                    {
                                                    <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                    }
                                                @if (item.Price != null)
                                                    {
                                                    <div class="col-sm-6"><span class="price">@item.Price @item.Kurlar.Name</span></div>
                                                    }
                                                    @*  <div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                </div>
                                            </div>
                                            <div class="features">
                                                <ul>
                                                    @if (item.Location != null)
                                                    {
                                                    <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                    }

                                                    @if (item.Size != null)
                                                    {
                                                    <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                        @if (item.Status.Name.ToUpper() == "KIRALIK" & Model != null)
                            {
                            <div class="item kiralik">
                                <a href="/AdDetail/BuildDetail/@item.ID">
                                    @if (item.ThumbPath != null)
                                        {
                                        <div class="image">
                                            <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                            <div class="over"><span>DETAYLI İNCELE</span></div>
                                        </div>
                                        }
                                    <div class="text">
                                        <div class="title">
                                            <div class="row">
                                                @if (item.StatusID != null)
                                                    {
                                                    <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                    }
                                                @if (item.Price != null)
                                                    {
                                                    <div class="col-sm-6"><span class="price">@item.Price @item.Kurlar.Name</span></div>
                                                    }
                                                    @*<div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                </div>
                                            </div>
                                            <div class="features">
                                                <ul>
                                                    @if (item.Location != null)
                                                    {
                                                    <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                    }

                                                    @if (item.Size != null)
                                                    {
                                                    <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                    </div>
                                }
                            }
        </div>

        <div class="row">
        </div>
    </div>
</section>