@model Project_UI.Models.ProjectVM.ProjectClass
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";

    string[] adres;
    adres = Model.Workplace.Location.Split(',');
    string semt = adres[0];
    string ilce = adres[2].Substring(6).Replace("/", ",");

    string lokasyon = semt ;
}

<section class="section ilan-detay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="gallery wow fadeInUp" data-wow-duration="1s">
                    @*@Html.Partial("Partial/_ImagePartial")*@
                    @if (Model.WorkFileDetails != null)
                    {
                        <div class="galleryBig">
                            @foreach (var item in Model.WorkFileDetails)
                            {
                                <div class="item cbp-item">

                                    <a class="cbp-lightbox" data-title="ilk1" data-lightbox="roadtrip" href="~/Areas/Admin/Content/Image/@item.Id@item.Extension">

                                        <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" height="546" width="817" alt="ev">
                                    </a>
                                </div>
                            }

                        </div>
                        <div class="gallerySmall">
                            @foreach (var item in Model.WorkFileDetails)
                            {
                                <div class="item">
                                    <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" height="83" width="125" alt="ev">
                                </div>
                            }
                        </div>
                    }

                </div>

                @*@Html.Partial("Partial/_DetayPartial", Model.Workplaces)*@

                <div class="box info wow fadeInUp" data-wow-duration="1s">
                    @if (Model.Workplace.Name != null)
                    {
                        <div class="title">
                            <h2>@Model.Workplace.Name</h2>
                        </div>
                    }
                    <div class="item">
                        <!-- addClass kiralik  -->
                        <div class="row">
                            @if (Model.Workplace.StatusID != null)
                            {
                                <div class="col-xs-6"><span class="type">@Model.Workplace.Status.Name</span></div>
                            }
                            @if (Model.Workplace.Price != null)
                            {
                                <div class="col-xs-6"><span class="price">@Model.Workplace.Price @Model.Workplace.Kurlar.Name</span></div>
                            }
                        </div>
                        <div class="row">
                            @if (Model.Workplace.Location != null)
                            {
                                <div class="col-md-12 location">
                                    <p><i class="fa fa-map-marker"></i> @lokasyon </p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="item">
                        @if (Model.Workplace.ExpertID != null)
                        {
                            <div class="user-img">
                                <img src="@Model.Workplace.Expert.ImagePath" width="65" height="65" alt="Necmi Körük">
                            </div>

                            <ul class="contact-list">
                                <li><i class="fa fa-user"></i> <strong>@Model.Workplace.Expert.Name</strong> - @Model.Workplace.Expert.Title</li>
                                <li><i class="fa fa-phone"></i> <a href="tel:@Model.Workplace.Expert.PhoneNumber">@Model.Workplace.Expert.PhoneNumber</a></li>
                                <li><i class="fa fa-envelope"></i> <a href="mailto:@Model.Workplace.Expert.Email">@Model.Workplace.Expert.Email</a></li>
                            </ul>
                        }
                    </div>
                    <div class="item info-list">
                        @if (Model.Workplace.CreatedDate != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>İlan Tarihi</strong></div>
                                <div class="col-xs-6">@Model.Workplace.CreatedDate.ToString("dd/MM/yyyy")</div>
                            </div>
                        }
                        @if (Model.Workplace.EmlakTipID != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Emlak Tipi</strong></div>
                                <div class="col-xs-6">@Model.Workplace.EmlakTip.Name</div>
                            </div>
                        }

                        @if (Model.Workplace.Size != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>m2</strong></div>
                                <div class="col-xs-6">@Model.Workplace.Size</div>
                            </div>
                        }
                        @if (Model.Workplace.Room!=null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Oda Sayısı</strong></div>
                                <div class="col-xs-6">@Model.Workplace.Room</div>
                            </div>
                        }
                        @if (Model.Workplace.BAge != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Bina Yaşı</strong></div>
                                <div class="col-xs-6">@Model.Workplace.BAge</div>
                            </div>
                        }
                       @if (Model.Workplace.Dues != null)
                       {
                        <div class="row">
                            <div class="col-xs-6"><strong>Aidat</strong></div>
                            <div class="col-xs-6">@Model.Workplace.Dues TL</div>
                        </div>
                       }
                       @if (Model.Workplace.IsınmaID != null)
                       {
                        <div class="row">
                            <div class="col-xs-6"><strong>Isınma Türü</strong></div>
                            <div class="col-xs-6">@Model.Workplace.Isınma.Name</div>
                        </div>
                       }                      
                      @if (Model.Workplace.KimdenID != null)
                      {
                        <div class="row">
                            <div class="col-xs-6"><strong>Kimden</strong></div>
                            <div class="col-xs-6">@Model.Workplace.Kimden.Name</div>
                        </div>
                      }
                        @if (Model.Workplace.Takas != null)
                        {
                            <div class="row">
                                <div class="col-xs-6"><strong>Takas</strong></div>
                                <div class="col-xs-6">@Model.Workplace.Takas</div>
                            </div>
                        }
                     
                       @if (Model.Workplace.KrediID != null)
                       {
                        <div class="row">
                            <div class="col-xs-6"><strong>Krediye Uygun</strong></div>
                            <div class="col-xs-6">@Model.Workplace.Kredi.Name.ToUpper()</div>
                        </div>
                       }
                        
                    </div>
                </div>
                <div class="box details proje-tab wow fadeInUp" data-wow-duration="1s">
                    <div class="tab-menu">
                        <ul>
                            <li class="active" rel="aciklama"><a href="#">AÇIKLAMA</a></li>
                            <li rel="ozellikler"><a href="#">ÖZELLİKLER</a></li>
                        </ul>
                    </div>
                    <div id="aciklama" class="tab_content">
                        <article class="article">
                            @if (Model.Workplace.Description != null)
                            {
                                <p>
                                    @Html.Raw(Model.Workplace.Description)
                                </p>
                            }
                        </article>
                    </div>
                    @* Properties alanı *@
                    @*   @Html.Partial("Partial/_PropertiesPartial",Model.AdProps)*@

                    <div id="ozellikler" class="tab_content">
                        <div class="title">
                            <h2>SOSYAL TESİSLER</h2>
                        </div>
                        <div class="list">
                            <div class="row">
                                <div class="row">
                                    @if (Model.Workplace.socialapps != null)
                                    {
                                        foreach (var item in Model.Workplace.socialapps.Substring(0, Model.Workplace.socialapps.Length - 1).Split(','))
                                        {
                                            <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item.ToString()</span></div>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="title">
                            <h2>GÜVENLİK</h2>
                        </div>

                        <div class="list">
                            <div class="row">
                                <div class="row">
                                    @if (Model.Workplace.securitys != null)
                                    {
                                        foreach (var item in Model.Workplace.securitys.Substring(0, Model.Workplace.securitys.Length - 1).Split(','))
                                        {
                                            <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item.ToString()</span></div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="title">
                            <h2>GENEL ÖZELLİKLER</h2>
                        </div>

                        <div class="list">
                            <div class="row">
                                <div class="row">
                                    @if (Model.Workplace.properties != null)
                                    {
                                        foreach (var item in Model.Workplace.properties.Substring(0, Model.Workplace.properties.Length - 1).Split(','))
                                        {
                                            <div class="col-md-4 col-sm-6 col-xs-6"><span class="icon"></span><span class="text">@item.ToString()</span></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>
