@model Project_BLL.ServiceModels.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
}
<section class="section banner">
    @Html.Partial("Partial/_CityPartial", Model.Cities)
</section>
<section class="section list wow fadeInUp" data-wow-duration="1s">
    @Html.Partial("Partial/_ListPartial", Model.Advertisements)
</section>
<section class="section projeler wow fadeInUp" data-wow-duration="1s">
   @Html.Partial("Partial/_ProjectPartial",Model.Projects)
</section>
<section class="section uzmanlar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text wow fadeInUp" data-wow-duration="1s">
                    <p><strong>5 DİLDE HİZMET VERİYORUZ.</strong></p>
                    <h2>UZMANLARIMIZ <br />HİZMETİNİZDE.</h2>
                    <h3>Sektörde tecrübe kazanmış uzmanlarımız size ihtiyacınız olan evi bulmaya daima hazırdır.</h3>
                    <a class="btnx" href="#" data-toggle="modal" data-target=".basvur-modal">BİR UZMANA BAŞVUR</a>
                </div>
                <div class="image  wow fadeInUp" data-wow-duration="1s">
                    <img src="@Url.Content("/Content/img/uzmanlar-img.png")" alt="uzmanlar">
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".price").each(function (ind, obj) {
                $(obj).priceFormat({
                    clearPrefix: true,
                    suffix: ' ' + $(obj).data("currency"),
                    centsLimit: 0
                });
            });

            $('#il').on('change', function () {
                GetirIlceler($('#ilce'), this.value);
            });

            $('#il1').on('change', function () {
                GetirIlceler($('#ilce1'), this.value);
            });

            $('#il2').on('change', function () {
                GetirIlceler($('#ilce2'), this.value);
            });

            $('#il').trigger("change");
        });
        function GetirIlceler(list2, ilId) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetirIlceler", "Home")',
                data: { ilID: ilId },
                dataType: "json",
                success: function (ilceler) {
                    $(list2).html('');
                    $.each(ilceler, function (index, ilce) {
                        $(list2).append("<option value=" + ilce.Id + ">" + ilce.Value + "</option>");
                    });
                }
            });
        }


    </script>
}