@model Project_UI.Areas.Admin.Models.PageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            İlan Listesi
        </div>
 
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th>ilan Adı</th>
                            <th>Durumu</th>
                            <th>Vitrin Durumu</th>
                            <th class="hidden-480">Oluşturma Tarihi</th>                          
                            <th class="hidden-480">Güncelleme Tarihi</th>
                            <th>Procces</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AdDetails)
                        {
                            <tr id="a_@item.ID">
                                <td><img src="@item.ThumbPath" width="40" height="40" /></td>
                                <td>@item.Name</td>
                                @if (item.IsActive)
                                {
                                    <td id="b_@item.ID" onclick="Status('/Admin/AdDetails/Status/',@item.ID)"><span class="btn btn-info btn-sm">Aktif</span></td>
                                }
                                else
                                {
                                    <td id="b_@item.ID" onclick="Status('/Admin/AdDetails/Status/',@item.ID)"><span class="btn btn-default btn-sm">Pasif</span></td>
                                }
                                @if (item.Vitrin)
                                {
                                    <td id="c_@item.ID" onclick="Vitrin('/Admin/AdDetails/Vitrin/',@item.ID)"><span class="btn btn-info btn-sm">Vitrine Eklendi</span></td>
                                }
                                else
                                {
                                    <td id="c_@item.ID" onclick="Vitrin('/Admin/AdDetails/Vitrin/',@item.ID)"><span class="btn btn-default btn-sm">Vitrine Ekle</span></td>
                                }

                                <td class="hidden-480">@item.CreatedDate.ToShortDateString()</td>
                                <td class="hidden-480">@item.UpdatedDate</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">

                                        <a class="btn btn-xs btn-primary no-radius" href="/Admin/AdDetails/Edit/@item.ID">
                                            <i class="ace-icon fa fa-pencil-square-o smaller-100"></i>
                                            Düzenle
                                        </a>

                                        <a class="btn btn-xs btn-danger btn-sm" onclick="Delete('/Admin/AdDetails/Delete/',@item.ID)">
                                            <i class="ace-icon fa fa-trash-o smaller-100"></i>
                                            Sil
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                işlem <i class="ace-icon fa fa-caret-down icon-only bigger-150"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">


                                                <li>
                                                    <a href="/Admin/AdDetails/Edit/@item.ID" class="btn btn-info btn-sm">

                                                        <i class="ace-icon fa fa-pencil-square-o smaller-100"></i>
                                                        Düzenle

                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="btn btn-xs btn-danger btn-sm" onclick="Delete('/Admin/AdDetails/Delete/',@item.ID)" data-rel="tooltip" title="" data-original-title="Delete">

                                                        <i class="ace-icon fa fa-trash-o smaller-100"></i>
                                                        Sil

                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.Lands)
                        {
                            <tr id="a_@item.ID">
                                <td><img src="@item.ThumbPath" width="40" height="40" /></td>
                                <td>@item.Name</td>
                                @if (item.IsActive)
                                {
                                    <td id="b_@item.ID" onclick="Status('/Admin/Land/Status/',@item.ID)"><span class="btn btn-info btn-sm">Aktif</span></td>
                                }
                                else
                                {
                                    <td id="b_@item.ID" onclick="Status('/Admin/Land/Status/',@item.ID)"><span class="btn btn-default btn-sm">Pasif</span></td>
                                }
                                @if (item.Vitrin)
                                {
                                    <td id="c_@item.ID" onclick="Vitrin('/Admin/Land/Vitrin/',@item.ID)"><span class="btn btn-info btn-sm">Vitrine Eklendi</span></td>
                                }
                                else
                                {
                                    <td id="c_@item.ID" onclick="Vitrin('/Admin/Land/Vitrin/',@item.ID)"><span class="btn btn-default btn-sm">Vitrine Ekle</span></td>
                                }

                                <td class="hidden-480">@item.CreatedDate.ToShortDateString()</td>
                                <td class="hidden-480">@item.UpdatedDate</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">

                                        <a class="btn btn-xs btn-primary no-radius" href="/Admin/Land/Edit/@item.ID">
                                            <i class="ace-icon fa fa-pencil-square-o smaller-100"></i>
                                            Düzenle
                                        </a>

                                        <a class="btn btn-xs btn-danger btn-sm" onclick="Delete('/Admin/Land/Delete/',@item.ID)">
                                            <i class="ace-icon fa fa-trash-o smaller-100"></i>
                                            Sil
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                işlem <i class="ace-icon fa fa-caret-down icon-only bigger-150"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">


                                                <li>
                                                    <a href="/Admin/AdDetails/Land/@item.ID" class="btn btn-info btn-sm">

                                                        <i class="ace-icon fa fa-pencil-square-o smaller-100"></i>
                                                        Düzenle

                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="btn btn-xs btn-danger btn-sm" onclick="Delete('/Admin/Land/Delete/',@item.ID)" data-rel="tooltip" title="" data-original-title="Delete">

                                                        <i class="ace-icon fa fa-trash-o smaller-100"></i>
                                                        Sil

                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.Workplaces)
                        {
                            <tr id="a_@item.ID">
                                <td><img src="@item.ThumbPath" width="40" height="40" /></td>
                                <td>@item.Name</td>
                                @if (item.IsActive)
                                {
                                    <td id="b_@item.ID" onclick="Status('/Admin/Workplace/Status/',@item.ID)"><span class="btn btn-info btn-sm">Aktif</span></td>
                                }
                                else
                                {
                                    <td id="b_@item.ID" onclick="Status('/Admin/Workplace/Status/',@item.ID)"><span class="btn btn-default btn-sm">Pasif</span></td>
                                }
                                @if (item.Vitrin)
                                {
                                    <td id="c_@item.ID" onclick="Vitrin('/Admin/Workplace/Vitrin/',@item.ID)"><span class="btn btn-info btn-sm">Vitrine Eklendi</span></td>
                                }
                                else
                                {
                                    <td id="c_@item.ID" onclick="Vitrin('/Admin/Workplace/Vitrin/',@item.ID)"><span class="btn btn-default btn-sm">Vitrine Ekle</span></td>
                                }

                                <td class="hidden-480">@item.CreatedDate.ToShortDateString()</td>
                                <td class="hidden-480">@item.UpdatedDate</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">

                                        <a class="btn btn-xs btn-primary no-radius" href="/Admin/Workplace/Edit/@item.ID">
                                            <i class="ace-icon fa fa-pencil-square-o smaller-100"></i>
                                            Düzenle
                                        </a>

                                        <a class="btn btn-xs btn-danger btn-sm" onclick="Delete('/Admin/Workplace/Delete/',@item.ID)">
                                            <i class="ace-icon fa fa-trash-o smaller-100"></i>
                                            Sil
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                işlem <i class="ace-icon fa fa-caret-down icon-only bigger-150"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">


                                                <li>
                                                    <a href="/Admin/AdDetails/Workplace/@item.ID" class="btn btn-info btn-sm">

                                                        <i class="ace-icon fa fa-pencil-square-o smaller-100"></i>
                                                        Düzenle

                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="btn btn-xs btn-danger btn-sm" onclick="Delete('/Admin/Workplace/Delete/',@item.ID)" data-rel="tooltip" title="" data-original-title="Delete">

                                                        <i class="ace-icon fa fa-trash-o smaller-100"></i>
                                                        Sil

                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.Binas)
                        {
                            <tr id="a_@item.ID">
                                <td><img src="@item.ThumbPath" width="40" height="40" /></td>
                                <td>@item.Name</td>
                                @if (item.IsActive)
                                {
                                    <td id="b_@item.ID" onclick="Status('/Admin/Building/Status/',@item.ID)"><span class="btn btn-info btn-sm">Aktif</span></td>
                                }
                                else
                                {
                                    <td id="b_@item.ID" onclick="Status('/Admin/Building/Status/',@item.ID)"><span class="btn btn-default btn-sm">Pasif</span></td>
                                }
                                @if (item.Vitrin)
                                {
                                    <td id="c_@item.ID" onclick="Vitrin('/Admin/Building/Vitrin/',@item.ID)"><span class="btn btn-info btn-sm">Vitrine Eklendi</span></td>
                                }
                                else
                                {
                                    <td id="c_@item.ID" onclick="Vitrin('/Admin/Building/Vitrin/',@item.ID)"><span class="btn btn-default btn-sm">Vitrine Ekle</span></td>
                                }

                                <td class="hidden-480">@item.CreatedDate.ToShortDateString()</td>
                                <td class="hidden-480">@item.UpdatedDate</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">

                                        <a class="btn btn-xs btn-primary no-radius" href="/Admin/Building/Edit/@item.ID">
                                            <i class="ace-icon fa fa-pencil-square-o smaller-100"></i>
                                            Düzenle
                                        </a>

                                        <a class="btn btn-xs btn-danger btn-sm" onclick="Delete('/Admin/Building/Delete/',@item.ID)">
                                            <i class="ace-icon fa fa-trash-o smaller-100"></i>
                                            Sil
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                işlem <i class="ace-icon fa fa-caret-down icon-only bigger-150"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">


                                                <li>
                                                    <a href="/Admin/AdDetails/Building/@item.ID" class="btn btn-info btn-sm">

                                                        <i class="ace-icon fa fa-pencil-square-o smaller-100"></i>
                                                        Düzenle

                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="btn btn-xs btn-danger btn-sm" onclick="Delete('/Admin/Building/Delete/',@item.ID)" data-rel="tooltip" title="" data-original-title="Delete">

                                                        <i class="ace-icon fa fa-trash-o smaller-100"></i>
                                                        Sil

                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>

