@model BuildingViewModel

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (Model.Id != 0)
            {
                <h5> Bina Düzenleme Tablosu</h5>
            }
            else
            {
                <h5> Bina Ekleme Tablosu</h5>
            }
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form method="post" enctype="multipart/form-data" action="#">
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label> Adı:</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label> Satış Durumu:</label>
                            @Html.DropDownListFor(x => x.StatusId, Model.StatusList, "Satış Durumu Seçiniz", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label> Fiyatı:</label>
                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @id = "money-bank", @placeholder = "Örn: 10.5" })
                        </div>
                        <div class="form-group">
                            <label>Döviz Tipi</label>
                            @Html.DropDownListFor(x => x.KurlarId, Model.KurlarList, "Döviz Tipi Seçiniz", new { @class = "form-control" })
                        </div><div class="form-group">
                            <label> Açıklaması:</label>
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @id = "content" })
                        </div>
                        <div class="form-group">
                            <label> Ölçüleri(m2):</label>
                            @Html.TextBoxFor(x => x.Size, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Size, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Takas Durumu:</label>
                            @Html.TextBoxFor(x => x.Takas, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Bina Yaşı:</label>
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.BAge, new { @class = "ui-spinner-input" })
                            @Html.ValidationMessageFor(x => x.BAge, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Kat Sayısı:</label>
                            @Html.TextBoxFor(x => x.FloorCount, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FloorCount, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Kattaki Daire Sayısı:</label>
                            @Html.TextBoxFor(x => x.FloorFlatCount, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FloorFlatCount, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label> Danışmanı:</label>
                            @Html.DropDownListFor(x => x.ExpertId, Model.ExpertList, "Danışman Seçiniz", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label> Diğer Özellikler:</label> <br />
                            @Html.DropDownList("tags", Model.PropertiesList, new { @multiple = "multiple", @class = "dropdown-menu", @id = "tags" })
                        </div>
                        <div class="form-group">
                            <label> Sosyal Alan Özellikleri:</label> <br />
                            @Html.DropDownList("socials", Model.SocialList, new { @multiple = "multiple", @class = "dropdown-menu", @id = "socials" })
                        </div>
                        <div class="form-group">
                            <label> Güvenlik Özellikleri:</label> <br />
                            @Html.DropDownList("securitys", Model.SecuritiesList, new { @multiple = "multiple", @class = "dropdown-menu", @id = "securitys" })
                        </div>
                        <div class="form-group">
                            <label> Kimden Durumu:</label>
                            @Html.DropDownListFor(x => x.KimdenId, Model.KimdenList, " Mülk Sahibi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.KimdenId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Iller:</label>
                            @Html.DropDownListFor(x => x.IlId, Model.IlList, new { @class = "form-control", id = "Il" })
                            <label>Ilce:</label>
                            <select id="IlceId" name="IlceId" data-id="@Model.IlceId" class="form-control"></select>
                            <label>Semtler:</label>
                            <select id="SemtId" name="SemtId" data-id="@Model.SemtId" class="form-control"></select>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Lütfen yüksek çözünürlüklü ya da 393x303 ebatlarında önizleme resmi yükleyiniz!</label>
                            <input type="file" id="document" name="document" accept=".jpg, .png" @(Model.ThumbPath != null ? "" : "required=\"required\"") />
                            
                            @if (Model.ThumbPath != null)
                            {
                                <hr />
                                <img src="@Url.Content(Model.ThumbPath)" width="50" height="50" />
                            }
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.Label("Lütfen galeri için resim yükleyiniz!")
                                <br />
                                @Html.Label("Choose Image(s)", new { @class = "control-label col-sm-3" })
                                <div class="col-sm-5">
                                    <input type="file" id="file" name="files" multiple="multiple" accept=".jpg, .png" @(Model.FileDetails.Count != 0 ? "" : "required=\"required\"") />
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <ul class="attachment">
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.FileDetails)
                                                {
                                                    <li>
                                                        <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" width="60" height="60" />
                                                        <a href="javascript:void(0);" data-id="@item.Id" onclick="DeleteFile('/Admin/Building/DeleteFile/@item.Id',this)">X</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr/>
                        <button type="submit" value="Save" class="btn btn-xs btn-success btn-xs radius-4">
                            <i class="ace-icon fa fa-floppy-o bigger-160"></i>
                            Kaydet
                        </button>
                        <a href="/Admin/AdDetails/Index" class="btn btn-xs btn-info btn-xs radius-4">
                            <i class="ace-icon fa fa-undo bigger-150"> Önceki Sayfa</i>
                        </a>
                    </form>
                    <br />
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
