@model Project_Entity.Bina

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (Model != null)
            {
                <h5> Bina Düzenleme Tablosu</h5>
            }
            else
            {
                <h5> Bina Ekleme Tablosu</h5>
            }
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form method="post" enctype="multipart/form-data" action="#">

                        @Html.AntiForgeryToken()
                        <label> Adı:</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        <label> Satış Durumu:</label>
                        @Html.DropDownListFor(x => x.StatusID, ViewData["Status"] as IEnumerable<SelectListItem>, "Satış Durumu Seçiniz", new { @class = "form-control" })
                        <label> Fiyatı:</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @id = "money-bank", @placeholder = "Örn: 10.5" })
                        <label>Döviz Tipi</label>
                        @Html.DropDownListFor(x => x.KurlarID, ViewData["Kur"] as IEnumerable<SelectListItem>, "Döviz Tipi Seçiniz", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Kurlar, "", new { @class = "text-danger" })
                        <label> Açıklaması:</label>
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @id = "content" })
                        <label> Ölçüleri(m2):</label>
                        @Html.TextBoxFor(x => x.Size, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Size, "", new { @class = "text-danger" })
                        <br />
                        <label> Takas Durumu:</label>
                        @Html.TextBoxFor(x => x.Takas, new { @class = "form-control" })
                        <br />
                        <label>Bina Yaşı:</label>
                        <br />
                        @Html.EditorFor(x => x.BAge, new { @class = "ui-spinner-input" })
                        @Html.ValidationMessageFor(x => x.BAge, "", new { @class = "text-danger" })
                        <br />
                        <label> Kat Sayısı:</label>
                        <br />
                        @Html.EditorFor(x => x.Floor, new { @class = "ui-spinner-input " })
                        @Html.ValidationMessageFor(x => x.Floor, "", new { @class = "text-danger" })
                        <br />
                        <label> Kattaki Daire Sayısı:</label>
                        <br />
                        @Html.EditorFor(x => x.FloorRoom, new { @class = "ui-spinner-input " })
                        @Html.ValidationMessageFor(x => x.FloorRoom, "", new { @class = "text-danger" })

                        <br />
                        <label> Lokasyonu:</label>
                        <div class="form-horizontal">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Location, new { @class = "form-control", @id = "us3-address" })

                            </div>

                            <div id="us3" style="width: 500px; height: 400px;"></div>

                            <div class="clearfix">&nbsp;</div>
                            <div class="m-t-small">
                                <label class="p-r-small col-sm-1 control-label">Lat.:</label>
                                @Html.TextBoxFor(x => x.Latitude, new { @class = "form-control", @id = "us3-lat" })

                                <label class="p-r-small col-sm-1 control-label">Long.:</label>

                                @Html.TextBoxFor(x => x.Longitude, new { @class = "form-control", @id = "us3-lon" })

                            </div>
                            <label> Danışmanı:</label>
                            @Html.DropDownListFor(x => x.ExpertID, ViewData["Expert"] as IEnumerable<SelectListItem>, "Danışman Seçiniz", new { @class = "form-control" })
                            <br />

                            <label> Diğer Özellikler:</label> <br />

                            @Html.DropDownList("tags", ViewBag.tags as IList<SelectListItem>, new { @multiple = "multiple", @class = "dropdown-menu", @id = "tags" })
                            <br />
                            <label> Sosyal Alan Özellikleri:</label> <br />

                            @Html.DropDownList("socials", ViewBag.socials as IList<SelectListItem>, new { @multiple = "multiple", @class = "dropdown-menu", @id = "socials" })

                            <br />
                            <label> Güvenlik Özellikleri:</label> <br />

                            @Html.DropDownList("securitys", ViewBag.securitys as IList<SelectListItem>, new { @multiple = "multiple", @class = "dropdown-menu", @id = "securitys" })
                            <br />
                            <label> Kimden Durumu:</label>
                            @Html.DropDownListFor(x => x.KimdenID, ViewData["Kimden"] as IEnumerable<SelectListItem>, " Mülk Sahibi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Kimden, "", new { @class = "text-danger" })

                            <br />
                            <label>Emlak Tipi :</label>
                            @Html.DropDownListFor(x => x.EmlakTipID, ViewData["EmlakTipi"] as IEnumerable<SelectListItem>, "Emlak Tipi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.EmlakTip, "", new { @class = "text-danger" })
                            <br />
                            <hr />
                            @Html.Label("Lütfen yüksek çözünürlüklü ya da 393x303 ebatlarında önizleme resmi yükleyiniz!")
                            @if (Model != null)
                            {
                                <input type="file" id="document" name="document" />
                                    <hr />
                                    <img src="@Url.Content(@Model.ThumbPath)" width="50" height="50" />

                            }
                            else
                            {
                                <input type="file" id="document" name="document" required="Lütfen resim ekleyiniz" />

                            }
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Label("Lütfen galeri için resim yükleyiniz!")
                                    <br />
                                    @Html.Label("Choose Image(s)", new { @class = "control-label col-sm-3" })
                                    <div class="col-sm-5">
                                        @if (Model != null)
                                        {
                                            <input type="file" id="file" name="files" multiple="multiple" accept=".jpg, .png, .gif" />
                                        }
                                        else
                                        {
                                            <input type="file" id="file" name="files" multiple="multiple" accept=".jpg, .png, .gif" required="Lütfen resim ekleyiniz" />

                                        }
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <ul class="attachment">
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model.BinaFileDetails)
                                                    {
                                                        <li>
                                                            <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" width="60" height="60" />
                                                            <a href="javascript:void(0);" data-id="@item.Id" class="deleteItemb" name="deleteItem" onclick="deleteItemb('/Admin/Building/DeleteFile/'@item.Id)">X</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <button type="submit" value="Save" class="btn btn-xs btn-success btn-xs radius-4">
                            <i class="ace-icon fa fa-floppy-o bigger-160"></i>
                            Kaydet
                        </button>
                        <a href="/Admin/AdDetails/Index" class="btn btn-xs btn-info btn-xs radius-4">
                            <i class="ace-icon fa fa-undo bigger-150"> Önceki Sayfa</i>
                        </a>
                    </form>
                    <br />
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
