
@model Project_UI.Models.ProjectVM.ProjectClass
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }

}
<section class="section ilan-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>İLANLAR</h2>
            </div>
        </div>
    </div>
</section>
<section class="section ilan-ara wow fadeInUp" data-wow-duration="1s">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 filter">
                <div class="box">
                    <div class="head-title">
                        <h2>FİLTRELE</h2>
                        <a href="#" class="closex visible-xs"><i class="fa fa-times"></i></a>
                    </div>
                    @using (Html.BeginForm("QueryResult", "Search", FormMethod.Post))
                    {

                        <div class="item">
                            <div class="title">
                                <h2>EMLAK TİPİ<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                @foreach (var item in Model.EmlakTip)
                                {
                                    <div class="form-item">
                                        <input type="checkbox" name="emlaktipi" id="@item.ID" value="@item.Name" class="css-checkbox" />
                                        <label for="@item.ID" class="css-label radGroup1">@item.Name</label>
                                    </div>
                                }
                            </div>
                            <div class="content">
                                @foreach (var item in Model.Status)
                                {
                                    <div class="form-item">
                                        <input type="checkbox" name="emlakstatu" id="@item.ID-s" value="@item.Name" class="css-checkbox" />
                                        <label id="checked" for="@item.ID-s" class="css-label radGroup1">@item.Name</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>KONUM<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                <div class="form-item select">
                                    <label><strong>ŞEHİR:</strong></label>
                                    <select name="iller" id="iller">
                                        <option value="ADANA">Adana</option>
                                        <option value="ANKARA">Ankara</option>
                                        <option value="ANTALYA">Antalya</option>
                                        <option value="AYDIN">Aydın</option>
                                        <option value="BALIKESİR">Balıkesir</option>
                                        <option value="BURSA">Bursa</option>
                                        <option value="DİYARBAKIR">Diyarbakır</option>
                                        <option value="GAZİANTEP">Gaziantep</option>
                                        <option value="HATAY">Hatay</option>
                                        <option value="İSTANBUL">İstanbul</option>
                                        <option value="İZMİR">İzmir</option>
                                        <option value="KAHRAMANMARAŞ">Kahramanmaraş</option>
                                        <option value="KAYSERİ">Kayseri</option>
                                        <option value="KOCAELİ">Kocaeli</option>
                                        <option value="KONYA">Konya</option>
                                        <option value="MANİSA">Manisa</option>
                                        <option value="MERSİN">Mersin</option>
                                        <option value="SAMSUN">Samsun</option>
                                        <option value="ŞANLIURFA">Şanlıurfa</option>
                                        <option value="VAN">Van</option>
                                    </select>
                                </div>
                                <div class="form-item select">
                                    <label><strong>İLÇE:</strong></label>
                                    <select name="ilceler" id="ilceler">
                                        <option value="ARNAVUTKOY">Arnavutköy</option>
                                        <option value="SISLI">Şişli</option>
                                        <option value="SARIYER">Sarıyer</option>
                                        <option value="KADIKOY">Kadıköy</option>
                                        <option value="BAKIRKOY">Bakırköy</option>
                                    </select>
                                </div>
                                <div class="form-item select">
                                    <label><strong>MAHALLE:</strong></label>
                                    <select name="mahalle" id="mahalle">
                                        <option value="MECIDIYEKOY">Mecidiyeköy</option>
                                        <option value="FERIKOY">Feriköy</option>
                                        <option value="GULBAHAR">Gülbahar</option>
                                        <option value="FULYA">Fulya</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>M2<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                <div class="form-item">
                                    <input type="checkbox" name="seksen" id="seksen" value="seksen" class="css-checkbox" />
                                    <label for="seksen" class="css-label radGroup1">0 - 100 m2</label>
                                </div>
                                <div class="form-item">
                                    <input type="checkbox" name="yüz" id="yüz" class="css-checkbox" />
                                    <label for="yüz" class="css-label radGroup1">100 - 150 m2</label>
                                </div>
                                <div class="form-item">
                                    <input type="checkbox" name="yüzelli" id="yüzelli" class="css-checkbox" />
                                    <label for="yüzelli" class="css-label radGroup1">150 - 250 m2</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>BİNA YAŞI<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                <div class="form-item">
                                    <input type="checkbox" name="binayas05" id="binayas05" class="css-checkbox" />
                                    <label for="binayas05" class="css-label radGroup1">0 - 5</label>
                                </div>
                                <div class="form-item">
                                    <input type="checkbox" name="binayas515" id="binayas515" class="css-checkbox" />
                                    <label for="binayas515" class="css-label radGroup1">5 - 15</label>
                                </div>
                                <div class="form-item">
                                    <input type="checkbox" name="binayas1525" id="binayas1525" class="css-checkbox" />
                                    <label for="binayas1525" class="css-label radGroup1">15 - 25</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>BİNADAKİ KAT SAYISI<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                <div class="form-item">
                                    <input type="radio" name="kat1" id="kat1" class="css-checkbox" />
                                    <label for="kat1" class="css-label radGroup1 radGroup1">0 - 5</label>
                                </div>
                                <div class="form-item">
                                    <input type="radio" name="kat2" id="kat2" class="css-checkbox" />
                                    <label for="kat2" class="css-label radGroup1 radGroup1">5 - 15</label>
                                </div>
                                <div class="form-item">
                                    <input type="radio" name="kat3" id="kat3" class="css-checkbox" />
                                    <label for="kat3" class="css-label radGroup1 radGroup1">15 - 25</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>BULUNDUĞU KAT<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                <div class="form-item">
                                    <input type="checkbox" name="bkat1" id="bkat1" class="css-checkbox" />
                                    <label for="bkat1" class="css-label radGroup1">0 - 5</label>
                                </div>
                                <div class="form-item">
                                    <input type="checkbox" name="bkat2" id="bkat2" class="css-checkbox" />
                                    <label for="bkat2" class="css-label radGroup1">5 - 15</label>
                                </div>
                                <div class="form-item">
                                    <input type="checkbox" name="bkat3" id="bkat3" class="css-checkbox" />
                                    <label for="bkat3" class="css-label radGroup1">15 - 25</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>ISITMA SİSTEMİ<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                @foreach (var item in Model.Isınma)
                                {
                                    <div class="form-item">
                                        <input type="checkbox" name="isinma" id="@item.ID-i" value="@item.Name" class="css-checkbox" />
                                        <label for="@item.ID-i" class="css-label radGroup1">@item.Name</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>BANYO SAYISI<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                <div class="form-item">
                                    <input type="checkbox" name="banyo1" id="banyo1" class="css-checkbox" />
                                    <label for="banyo1" class="css-label radGroup1">1</label>
                                </div>
                                <div class="form-item">
                                    <input type="checkbox" name="banyo2" id="banyo2" class="css-checkbox" />
                                    <label for="banyo2" class="css-label radGroup1">2</label>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>KULLANIM DURUMU<span class="icon"></span></h2>
                            </div>
                            <div class="content">
                                @foreach (var item in Model.Kullanıms)
                                {
                                    <div class="form-item">
                                        <input type="checkbox" name="kullanim" id="@item.ID-k" value="@item.Name" class="css-checkbox" />
                                        <label for="@item.ID-k" class="css-label radGroup1">@item.Name</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>EŞYALI<span class="phoneCheck"><label><input type="checkbox" name="esya" class="ios-switch green" /><div><div></div></div></label></span></h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>SİTE İÇERİSİNDE<span class="phoneCheck"><label><input type="checkbox" name="site" class="ios-switch green" /><div><div></div></div></label></span></h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <h2>KREDİYE UYGUN<span class="phoneCheck"><label><input type="checkbox" name="kredi" class="ios-switch green" /><div><div></div></div></label></span></h2>
                            </div>
                        </div>
                        <div class="btn-line">
                            <input type="submit" class="btnx" value="ARA">
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-9 col-sm-8 wrapper">
                <div class="row head">
                    <div class="col-xs-4 visible-xs">
                        <a href="#" class="filtre-btn">FİLTRE</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-4 notes">

                    </div>
                    <div class="col-md-2 hidden-sm hidden-xs view">
                        <ul>
                            <li class="active" rel="list-box"><a class="boxBtn" href="#"><i class="fa fa-th-large"></i></a></li>
                            <li rel="list-table"><a class="listBtn" href="#"><i class="fa fa-th-list"></i>
                    </div></a></li>
                    </ul>
                    <div class="col-md-4 col-sm-6 col-xs-4">
                        <div class="select">
                            <label>SIRALA:</label>
                            <select name="sirala" id="sirala" onselect="siralama">
                                <option value="yenideneskiye">Yeniden eskiye</option>
                                <option value="eskidenyeniye">Eskiden yeniye</option>
                                <option value="ucuzdanpahaliya">Ucuzdan Pahalıya</option>
                                <option value="pahalidanucuza">Pahalıdan ucuza</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="list-box" class="row list list-box">
                    @if (Model.AdDetails != null && Model.AdDetails.Count() > 0)
                    {

                        foreach (var item in Model.AdDetails)
                        {

                            <div class="col-md-4 col-xs-12">

                                @{
                                    string[] adres;
                                    adres = item.Location.Split(',');
                                    string semt = adres[0];
                                    string ilce = adres[2].Substring(6).Replace("/", ",");

                                    string lokasyon = semt + "," + ilce;
                                }
                                @if (item.Status.Name.ToUpper() == "SATILIK" & Model != null)
                                {
                                    <div class="item satilik">
                                        <a href="/AdDetail/Details/@item.ID">
                                            <div class="image">
                                                <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                                <div class="over"><span>DETAYLI İNCELE</span></div>
                                            </div>
                                            <div class="text">
                                                <div class="title">
                                                    <div class="row">
                                                        <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                        <div class="col-sm-6"><span class="price">@item.Price TL</span></div>
                                                        @* <div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                    </div>
                                                </div>

                                                <div class="features">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                        <li><i class="fa fa-home"></i> @item.Room</li>
                                                        <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                                @if (item.Status.Name.ToUpper() == "KIRALIK" & Model != null)
                                {
                                    <div class="item kiralik">
                                        <a href="/AdDetail/Details/@item.ID">
                                            <div class="image">
                                                <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                                <div class="over"><span>DETAYLI İNCELE</span></div>
                                            </div>
                                            <div class="text">
                                                <div class="title">
                                                    <div class="row">
                                                        <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                        <div class="col-sm-6"><span class="price">@item.Price TL</span></div>
                                                        @*<div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                        <li><i class="fa fa-home"></i> @item.Room</li>
                                                        <li><i class="fa fa-arrows-h"></i> @item.Size m2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>

                                        }

                                    }

                    @if (Model.Lands.Count() > 0)
                    {

                        foreach (var item in Model.Lands)
                        {

                            <div class="col-md-4 col-xs-12">
                                @{
                                    string[] adres;
                                    adres = item.Location.Split(',');
                                    string semt = adres[0];
                                    string ilce = adres[2].Substring(6).Replace("/", ",");
                                    string lokasyon = semt + "," + ilce;
                                }
                                @if (item.Status.Name.ToUpper() == "SATILIK" & Model != null)
                    {
                                    <div class="item satilik">
                                        <a href="/AdDetail/LandDetail/@item.ID">
                                            <div class="image">
                                                <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                                <div class="over"><span>DETAYLI İNCELE</span></div>
                                            </div>
                                            <div class="text">
                                                <div class="title">
                                                    <div class="row">
                                                        <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                        <div class="col-sm-6"><span class="price">@item.Price TL</span></div>
                                                        @*  <div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                        <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                                @if (item.Status.Name.ToUpper() == "KIRALIK" & Model != null)
                    {
                                    <div class="item kiralik">
                                        <a href="/AdDetail/LandDetail/@item.ID">
                                            <div class="image">
                                                <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                                <div class="over"><span>DETAYLI İNCELE</span></div>
                                            </div>
                                            <div class="text">
                                                <div class="title">
                                                    <div class="row">
                                                        <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                        <div class="col-sm-6"><span class="price">@item.Price TL</span></div>
                                                        @*<div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                        <li><i class="fa fa-arrows-h"></i> @item.Size m2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>

                                        }

                                    }
                    @if (Model.Workplaces.Count() > 0)
                    {

                        foreach (var item in Model.Workplaces)
                        {

                            <div class="col-md-4 col-xs-12">

                                @{
                                    string[] adres;
                                    adres = item.Location.Split(',');
                                    string semt = adres[0];
                                    string ilce = adres[2].Substring(6).Replace("/", ",");
                                    string lokasyon = semt + "," + ilce;
                                }
                                @if (item.Status.Name.ToUpper() == "SATILIK" & Model != null)
                                {
                                    <div class="item satilik">
                                        <a href="/AdDetail/WorkDetail/@item.ID">
                                            <div class="image">
                                                <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                                <div class="over"><span>DETAYLI İNCELE</span></div>
                                            </div>
                                            <div class="text">
                                                <div class="title">
                                                    <div class="row">
                                                        <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                        <div class="col-sm-6"><span class="price">@item.Price TL</span></div>
                                                        @* <div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                    </div>
                                                </div>

                                                <div class="features">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                        <li><i class="fa fa-home"></i> @item.Room</li>
                                                        <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                                @if (item.Status.Name.ToUpper() == "KIRALIK" & Model != null)
                                {
                                    <div class="item kiralik">
                                        <a href="/AdDetail/WorkDetail/@item.ID">
                                            <div class="image">
                                                <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                                <div class="over"><span>DETAYLI İNCELE</span></div>
                                            </div>
                                            <div class="text">
                                                <div class="title">
                                                    <div class="row">
                                                        <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                        <div class="col-sm-6"><span class="price">@item.Price TL</span></div>
                                                        @*<div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                        <li><i class="fa fa-home"></i> @item.Room</li>
                                                        <li><i class="fa fa-arrows-h"></i> @item.Size m2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>

                                        }

                                    }


                    @if (Model.Binas.Count() > 0)
                    {

                        foreach (var item in Model.Binas)
                        {

                            <div class="col-md-4 col-xs-12">

                                @{
                                    string[] adres;
                                    adres = item.Location.Split(',');
                                    string semt = adres[0];
                                    string ilce = adres[2].Substring(6).Replace("/", ",");
                                    string lokasyon = semt + "," + ilce;
                                }
                                @if (item.Status.Name.ToUpper() == "SATILIK" & Model != null)
                                {
                                    <div class="item satilik">
                                        <a href="/AdDetail/BuilDetail/@item.ID">
                                            <div class="image">
                                                <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                                <div class="over"><span>DETAYLI İNCELE</span></div>
                                            </div>
                                            <div class="text">
                                                <div class="title">
                                                    <div class="row">
                                                        <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                        <div class="col-sm-6"><span class="price">@item.Price TL</span></div>
                                                        @* <div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                    </div>
                                                </div>

                                                <div class="features">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                        <li><i class="fa fa-arrows-h"></i>@item.Size m2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                                @if (item.Status.Name.ToUpper() == "KIRALIK" & Model != null)
                                {
                                    <div class="item kiralik">
                                        <a href="/AdDetail/BuilDetail/@item.ID">
                                            <div class="image">
                                                <img src="@item.ThumbPath" width="393" height="303" alt="ev">
                                                <div class="over"><span>DETAYLI İNCELE</span></div>
                                            </div>
                                            <div class="text">
                                                <div class="title">
                                                    <div class="row">
                                                        <div class="col-sm-6"><span class="type">@item.Status.Name.ToUpper()</span></div>
                                                        <div class="col-sm-6"><span class="price">@item.Price TL</span></div>
                                                        @*<div class="col-xs-12 distance"><span><i class="fa fa-crosshairs"></i> @item.AdDetail.Location km</span></div>*@
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> @lokasyon</li>
                                                        <li><i class="fa fa-arrows-h"></i> @item.Size m2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>

                                        }

                                    }


                    @if (Model.Projects.Count() > 0)
                    {

                        foreach (var item in Model.Projects)
                        {
                            <div class="col-md-4 col-xs-12">
                                <a href="/Project/Detail/@item.ID">
                                    <div class="image">
                                        <img src="@item.ImagePath" height="303" width="393" alt="ev">
                                        <div class="over"></div>
                                    </div>
                                    <div class="text">
                                        <h3>@item.Name</h3>
                                        <h4>@item.SubName - @item.SSubName</h4>
                                    </div>
                                </a>
                            </div>
                        }

                    }

                </div>

                <div id="list-table" class="row list list-table">
                    <div class="col-md-12">
                        <div class="box">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>EMLAK</th>
                                        @*<th>EMLAK TİPİ</th>*@
                                        <th>M2</th>
                                        <th>ODA</th>
                                        <th>KONUM</th>
                                        <th>FİYAT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 @if (Model.AdDetails != null && Model.AdDetails.Count() > 0)
                                 {

                                     foreach (var item in Model.AdDetails)
                                     {
                                    <tr data-href="/AdDetail/Details/@item.ID">
                                        <td><img src="@item.ThumbPath" alt="ev"></td>
                                        <td>@item.Status.Name</td>
                                        @*@if (item.EmlakTip.Name != null)
                                        {
                                            <td>@item.EmlakTip.Name</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }*@

                                        <td>@item.Size</td>
                                        <td>@item.Room</td>
                                        <td>@item.Location</td>
                                        <td><span class="price">@item.Price TL</span></td>
                                    </tr>
                                     }
                                 }
                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
