
@model Project_Entity.Land

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (Model != null)
            {
                <h5> Arsa Düzenleme Tablosu</h5>
            }
            else
            {
                <h5> Arsa Ekleme Tablosu</h5>
            }
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form method="post" enctype="multipart/form-data" action="#">

                        @Html.AntiForgeryToken()
                        <label> Adı:</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        <label> Satış Durumu:</label>
                        @Html.DropDownListFor(x => x.StatusID, ViewData["Status"] as IEnumerable<SelectListItem>, "Satış Durumu Seçiniz", new { @class = "form-control" })
                        <label> Fiyatı:</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @id = "money-bank", @placeholder = "Örn: 10.5" })
                        <label>Döviz Tipi</label>
                        @Html.DropDownListFor(x => x.KurlarID, ViewData["Kur"] as IEnumerable<SelectListItem>, "Döviz Tipi Seçiniz", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Kurlar, "", new { @class = "text-danger" })
                        <label> Açıklaması:</label>
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @id = "content" })
                        <label> Ölçüleri(m2):</label>
                        @Html.TextBoxFor(x => x.Size, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Size, "", new { @class = "text-danger" })

                        <br />
                        <label> Ölçü Fiyatı(m2):</label>
                        @Html.TextBoxFor(x => x.SizePrice, new { @class = "form-control", @placeholder = "Örn: 25.000" })
                        <br />
                        <label> Ada No:</label>
                        @Html.TextBoxFor(x => x.AdaNo, new { @class = "form-control", @placeholder = "Örn: 15" })
                        <br />
                        <label> Parsel No:</label>
                        @Html.TextBoxFor(x => x.ParselNo, new { @class = "form-control", @placeholder = "Örn: 20" })
                        <br />
                        <label> Pafta No:</label>
                        @Html.TextBoxFor(x => x.PaftaNo, new { @class = "form-control", @placeholder = "Örn: 10" })
                        <br />
                        <label> Kaks(Emsal):</label>
                        @Html.TextBoxFor(x => x.Kaks, new { @class = "form-control" })
                        <br />
                        <label> Gabari:</label>
                        @Html.TextBoxFor(x => x.Gabari, new { @class = "form-control" })
                        <br />
                        <label> Tapu Durumu:</label>
                        @Html.TextBoxFor(x => x.Tapu, new { @class = "form-control" })
                        <br />
                        <label> Kat Karşılığı:</label>
                        @Html.TextBoxFor(x => x.KatKarsiligi, new { @class = "form-control" })
                        <br />

                        <label> Takas Durumu:</label>
                        @Html.TextBoxFor(x => x.Takas, new { @class = "form-control" })
                        <br />
                        <label> Lokasyonu:</label>
                        <div class="form-horizontal">
                            @Html.TextBoxFor(x => x.Location, new { @class = "form-control", @id = "us3-address" })
                            <label> Danışmanı:</label>
                            @Html.DropDownListFor(x => x.ExpertID, ViewData["Expert"] as IEnumerable<SelectListItem>, "Danışman Seçiniz", new { @class = "form-control" })
                            <br />
                            <label> Imar:</label>
                            @Html.DropDownListFor(x => x.ImarID, ViewData["Imar"] as IEnumerable<SelectListItem>, "Imar Durumu Seçiniz", new { @class = "form-control" })
                            <br />

                            <label> Kimden Durumu:</label>
                            @Html.DropDownListFor(x => x.KimdenID, ViewData["Kimden"] as IEnumerable<SelectListItem>, " Mülk Sahibi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Kimden, "", new { @class = "text-danger" })
                            <br />
                            <label> Kredi Uygunluğu:</label>
                            @Html.DropDownListFor(x => x.KrediID, ViewData["Kredi"] as IEnumerable<SelectListItem>, "Kredi Tipi Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Kredi, "", new { @class = "text-danger" })
                            <br />
                            <hr />
                            @Html.Label("Lütfen yüksek çözünürlüklü ya da 393x303 ebatlarında önizleme resmi yükleyiniz!")
                            @if (Model != null)
                            {
                                <input type="file" id="document" name="document" />
                                <hr />
                                <img src="@Url.Content(@Model.ThumbPath)" width="50" height="50" />

                            }
                            else
                            {
                                <input type="file" id="document" name="document" required="Lütfen resim ekleyiniz" />

                            }
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Label("Lütfen galeri için resim yükleyiniz!")
                                    <br />
                                    @Html.Label("Choose Image(s)", new { @class = "control-label col-sm-3" })
                                    <div class="col-sm-5">
                                        @if (Model != null)
                                        {
                                            <input type="file" id="file" name="files" multiple="multiple" accept=".jpg, .png, .gif" />
                                        }
                                        else
                                        {
                                            <input type="file" id="file" name="files" multiple="multiple" accept=".jpg, .png, .gif" required="Lütfen resim ekleyiniz" />

                                        }
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <ul class="attachment">
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model.LandFileDetails)
                                                    {
                                                        <li>
                                                            <img src="~/Areas/Admin/Content/Image/@item.Id@item.Extension" width="60" height="60" />
                                                            <a href="javascript:void(0);" data-id="@item.Id" class="deleteIteml" name="deleteItem" onclick="deleteIteml('/Admin/Land/DeleteFile/'@item.Id)">X</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <button type="submit" value="Save" class="btn btn-xs btn-success btn-xs radius-4">
                            <i class="ace-icon fa fa-floppy-o bigger-160"></i>
                            Kaydet
                        </button>
                        <a href="/Admin/AdDetails/Index" class="btn btn-xs btn-info btn-xs radius-4">
                            <i class="ace-icon fa fa-undo bigger-150"> Önceki Sayfa</i>
                        </a>
                    </form>
                    <br />
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
